.back-button {
  position: relative; /* Mantém o botão em relação ao seu contêiner pai */
  margin-top: 20px; /* Distância abaixo do cabeçalho */
  margin-left: 20px; /* Distância do lado esquerdo */
  z-index: 1000; /* Garante que fique acima de outros elementos */
}

i {
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.content {

  width: 100vw;
  height: 100%;
  justify-content: center;
  display: flex;
}

.card {
  background-color: rgba(255, 165, 0, 0.8); /* Cor laranja clara com opacidade */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 20px; /* Espaçamento interno */
  width: calc(16.66% - 20px); /* 6 cartões por linha com um espaçamento de 20px */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para os cartões */
  transition: transform 0.3s; /* Animação ao passar o mouse */
  margin-bottom: 20px; /* Espaçamento inferior entre as linhas de cartões */
}

.card h3 {
  margin-top: -5px; /* Ajuste o valor conforme necessário */
}

/* Efeito de hover */
.card:hover {
  transform: scale(1.05); /* Aumenta levemente o tamanho do card ao passar o mouse */
}

